.DS_Store
/build
/xcode

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.o

.idea
cmake-build-debug
.vs
out
vs2022

vcpkg_installed
vcpkg-manifest-install.log
cmake-build-debug-visual-studio
